table {
    margin: 3em auto 0;
    border-spacing: 0;
}

.bb8-sm{
    width: 1em;
    position: relative;
    top: -0.5rem;
    left: 1rem;
    filter: drop-shadow(2px 2px 2px #8B9295)
}
.cell {
    height: 4em;
    width: 4em;
    background-color: #D8D8D8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.token{
    height: 3em;
    width: 3em;
    border-radius: 4em;

}


.gray {
    background-color: #D8D8D8;
    box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);

}

.red, .blue{
    animation-name: fall-animation;
    animation-duration: 400ms;
    box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.red {
    background-color: #BE2828;

}

.blue {
    background-color: #5C8EDC;
}


.btn-toolbar {
    padding: 1rem 0 0 0;
}

.modal-content{
    width: 20rem;
    margin: 0 auto;
    font-size: 0.75rem;
}

.modal-footer{
    padding: 0
}
.alert{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    font-size: 0.75rem;
}


@keyframes fall-animation {
    from {
        -webkit-transform: translateY(-30rem);
        transform: translateY(-30rem);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}